CREATE TABLE SystemSettings (Id INT IDENTITY(1,1) PRIMARY KEY, [Key] NVARCHAR(100) UNIQUE NOT NULL, Value NVARCHAR(MAX), UpdatedAt DATETIME DEFAULT GETDATE()); IF NOT EXISTS (SELECT * FROM SystemSettings WHERE [Key] = 'GEMINI_MODEL') INSERT INTO SystemSettings ([Key], Value) VALUES ('GEMINI_MODEL', 'gemini-1.5-flash');
